header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 0px;
    nav{
        width: 50%;
        padding: 0px;
        font-family: 'Epilogue', sans-serif;
        font-size: 16px;
        letter-spacing: 4%;
        color: $azul_dark;
        .logoVariant2{
            width: 100px;
            margin-right: 40px;
            height: auto;
        }
        &.navDesktop{
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    text-decoration-line: none;
                    font-family: 'Epilogue', sans-serif;
                    font-variant: small-caps;
                    letter-spacing: 1px;
                    padding: 10px 8px 10px 8px;
                    transition: all 0.5s;
                    animation-timing-function: ease;
                    &:hover{
                        font-weight: 900;
                        line-height: 1;
                        background-color: white;
                        border-radius: 10px;
                        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
                        transition: all 0.5s;
                        animation-timing-function: ease-in-out;
                        animation-duration: 1s;
                    }
                    a{
                        color: $azul_dark;
                        &:focus{
                            font-family: 'Epilogue', sans-serif;
                            font-weight: 800;
                            color: $azul_dark;
                        }
                        &:active{
                            color: $azul_dark;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
        &.navMobile{
            .ulMobile{
                position: absolute;
                top: 80px; right: 3.5rem;
                z-index: 1;
                border-radius: 10px;
                background-color: $celeste_light3;
                list-style: none;
                font-family: 'Epilogue', sans-serif;
                font-size: 20px;
                font-variant: small-caps;
                letter-spacing: 1px;
                padding: 10px 8px 10px 8px;
                transition: all 0.5s;
                animation-timing-function: ease;
                li{
                    padding: 4px 10px 4px 10px;
                    text-align: end;
                    border-radius: 10%;
                    a{
                        &:active{
                            color: $azul_dark;
                            font-weight: 800;
                        }
                    }
                }
                animation-duration: 0.6s;
                animation-name: ulMobile;
                @keyframes burgerAbrir {
                    0% {transform: scale(0.2);}
                    100% {transform: scale(1);}
                }
            }
            .burgerCerrar{
                display: none;
                transform: scale(0.2);
            }
            .burgerAbrir{
                animation-duration: 0.1s;
                animation-name: burgerAbrir;
                @keyframes burgerAbrir {
                    0% {transform: scale(0.2);}
                    100% {transform: scale(1);}
                }
            }
            .navMobileShower {
                display: none;
                &:checked{
                    ~ .ulMobile {
                        display: block;
                        @keyframes ulMobile {
                            0% {
                                transform-origin: 100% 0%;
                                transform: scale(0.2);
                            }
                            100% {transform: scale(1);}
                        }
                    }
                    ~ .navMobile{
                        .burgerAbrir{
                            display: none;
                            animation-duration: 0.1s;
                            animation-name: burgerAbrir;
                            animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                            @keyframes burgerAbrir {
                                0% {transform: scale(0.2);}
                                100% {transform: scale(1);}
                            }
                        }
                        .burgerCerrar{
                            display: block;
                            transform: scale(1);
                            animation-duration: 0.1s;
                            animation-name: burgerCerrar;
                            @keyframes burgerCerrar {
                                0% {transform: scale(0.2);}
                                100% {transform: scale(1);}
                            }
                        }
                    }
                }
            }
        }
    }
}

